<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>区块链开发服务</h1>
                    <div class="h2-banner h2-border color-white"><br>我们提供不同行业的区块链定制化开发和解决方案</div>
                    <a href="#contact" class="link">现在联系</a>
                </div>
                <div class="col-md-6 banner-bg d-none d-md-block"></div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="container">
            <div class="bubbles-wrap">
                <h2>区块链目前涉及到的行业和领域</h2>
                <div class="h4 gor-100">区块链技术正在推动或者开始颠覆许多行业的发展理念，包括：</div>
                <div class="bubbles">
                    <div class="bubble bubble-1 s-130">保险</div>
                    <div class="bubble bubble-2 s-90">法律</div>
                    <div class="bubble bubble-3 s-130">卫生保健</div>
                    <div class="bubble bubble-4 s-90">零售</div>
                    <div class="bubble bubble-5 s-120">物流运输</div>
                    <div class="bubble bubble-6 s-90">旅行</div>
                    <div class="bubble bubble-7 s-120">人力资源</div>
                    <div class="bubble bubble-8 s-135">教育</div>
                    <div class="bubble bubble-9 s-130">媒体和娱乐</div>
                    <div class="bubble bubble-10 s-170">医药</div>
                    <div class="bubble bubble-11 s-130">银行和金融科技</div>
                    <div class="bubble bubble-12 s-130">不动产</div>
                    <div class="bubble bubble-13 s-170">供应链管理</div>
                    <div class="bubble bubble-14 s-135">数字广告</div>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
        <div class="container">
            <h2>区块链定制化开发</h2>
            <div class="gor-100 clearfix">
                <div>
                    <div class="h4">我们能根据您的业务需求来设计合理的区块链解决方案，并构建去中心化的应用程序。</div>
                    <div class="h4">从全球领先的区块链底层系统（比特股，EOS，超级账本和以太坊等）中根据您的需求和规模选择出最合适您的底层系统。
                    </div>
                </div>
            </div>

            <div class="point-list point-list-accordion">
                <div class="row jc-center">
                    <div class="col-md-4 dn768">
                        <div class="custom-img-point">
                            <img class="img-responsive" src="/images/Services/custom-blockchain1.png"
                                srcset="/images/Services/custom-blockchain1@2x.png 2x" alt="Eosio blockchain">
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="point point-accordion">
                            <h3>数据交换授权</h3>
                            <div class="text">数据交换智能授权，并将授权记录永久的记录在每个节点的账本上。</div>
                        </div>
                    </div>
                    <div class="col-md-4 dn768">
                        <div class="custom-img-point">
                            <img class="img-responsive" src="/images/Services/custom-blockchain2.png"
                                srcset="/images/Services/custom-blockchain2@2x.png 2x" alt="Eosio blockchain">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>智能合约和智能钱包</h3>
                            <div class="text">
                                <p>自动执行的合约，通过时间或者事件触发支付功能的钱包。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>安全身份验证</h3>
                            <div class="text">
                                <p>去中心化（无需第三方）的自动身份识别和权限认证。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>安全分布式存储</h3>
                            <div class="text">
                                <p>安全地存储您的一切数字资产，并且通过去中心化的身份认证设置该数字资产的访问权限。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>跨境业务的付款和转账</h3>
                            <div class="text">
                                <p>简单、快速、低成本地跨货币和跨国界的付款和收款功能。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>网络攻击预防</h3>
                            <div class="text">
                                <p>去中心化的区块链使传统的攻击毫无用处，同时也防止了蜜罐攻击。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="point point-accordion">
                            <h3>符合GDPR和SOX</h3>
                            <div class="text">
                                <p>为敏感的数据和行为提供可验证且安全的监管。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container dot-wrap60px">
            <img src="/images/Solutions/Logistics/dots.svg" alt="Dots" class="dots">
        </div>

        <div class="container technologies blockchain-development">
            <!-- Technologies -->
            <div class="row custom-tech-point">
                <div class="col-md-4 col-sm-12">
                    <h3 class="title-check">技术栈</h3>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="grey-block">
                        <% for (var item of techPoint) {%>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="<%= item.imgSrc %>" alt="<%= item.title %>">
                            </div>
                            <span><%= item.title %></span>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="row custom-tech-point">
                <div class="col-md-4 col-sm-12">
                    <h3 class="title-check">区块链技术</h3>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="grey-block">
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="/images/Uploads/bitshares.svg"
                                    alt="BitShares">
                            </div>
                            <span>比特股</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="/images/Uploads/bitcoin.svg" alt="genEOS">
                            </div>
                            <span>GenEOS</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="/images/Uploads/ethereum.svg"
                                    alt="Ethereum">
                            </div>
                            <span>以太坊</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="/images/Uploads/eos.svg" alt="EOSIO">
                            </div>
                            <span>EOSIO</span>
                        </div>
                        <div class="custom-tech-point-icon df">
                            <div class="wrap-img">
                                <img src="/images/Uploads/hyperledger.svg"
                                    alt="HyperLedger">
                            </div>
                            <span>超级账本</span>
                        </div>
                    </div>
                </div>
            </div> <!-- Technologies -->
        </div>
        
        <% include ../common/quote.ejs %>

                        <!-- Our Process -->
                        <div class="container mt-60px solutions-tools">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="h1 color-h2 m-0 p-0">服务流程</h2>
                                </div>
                                <div class="col-md-6">
                                    <p>成功的定制区块链项目需要专业的技能和严格的项目流程把控。我们使用了精心设计的区块链开发流程结合敏捷开发，让您的项目完全按照您的需求去实现。</p>
                                    <p>OpenLedger内部的团队包括区块链产品经理、区块链需求分析人员、区块架构师、区块链开发人员、质量保证专家和其它各行业专家，他们将在下面介绍的阶段中启动、设计、规划并交付一个定制的区块链解决方案：
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-30px solution-container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="background-white sol1 sol-tile">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="h2">
                                                    <span>1 <span>/</span></span>项目调研和规划</h3>
                                                <p class="mt-10px">
                                                    调研的阶段可能比开发阶段需要更多的时间，因为我们必须确保能够准确地理解您的问题和需求，并设计出一种完美的满足您需求的解决方案。
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>收集需求</li>
                                                    <li>分析业务需求和问题</li>
                                                    <li>进行报价和计算时间周期</li>
                                                    <li>找出障碍点和风险</li>
                                                    <li>制定策略和规划</li>
                                                    <li>制作原型</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-30px solution-container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="background-white sol2 sol-tile">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="h2">
                                                    <span>2 <span>/</span></span>开发阶段</h3>
                                                <p class="mt-10px">
                                                    此阶段我们以敏捷开发流程作为核心，每天进行站立会议每周进行团队会议，项目经理全天候24小时跟踪项目的进度，并定期向您汇报，让您了解项目最新的情况。
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>设计、开发、测试 解决方案</li>
                                                    <li>建立文档库</li>
                                                    <li>启动并部署项目</li>
                                                    <li>与当前系统集成</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-30px solution-container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="background-white sol3 sol-tile">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="h2">
                                                    <span>3 <span>/</span></span>支持</h3>
                                                <p class="mt-10px">
                                                    随着您的公司发展日益壮大，您的区块链解决方案也需要跟上它的业务发展需要。我们提供持续的技术支持，以及对现有的功能进行改进和升级并根据情况而定增加新的特性。
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>支持和维护解决方案</li>
                                                    <li>对解决方案的改进进行分析和研究</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Our Process -->
                    </div>
                    <!-- Common Footer -->
                    <% include ../common/footer.ejs %>
                    <!-- Common Footer End -->
</body>

</html>