<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %></title>
    <meta name="description" content="<%= description%>" />
    <link rel='stylesheet' href='/packages/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/packages/slick/slick.css' />
    <link rel='stylesheet' href='/packages/slick/slick-theme.css' />
    <link rel='stylesheet' href='/packages/light-box/css/lightbox.min.js' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/screen.css' />
    <script type="text/javascript" src="/packages/jquery/jquery.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/packages/tools/popper.min.js"></script>
    <script type="text/javascript" src="/packages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/packages/slick/slick.min.js"></script>
    <script type="text/javascript" src="/packages/tools/js.cookie.js"></script>
    <script type="text/javascript" src="/packages/jquery/jquery.session.js"></script>
    <script type="text/javascript" src="/packages/light-box/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/packages/tools/html5shiv.min.js"></script><![endif]-->
</head>

<body class="index-page">
    <!-- Common Header -->
    <% include ../common/header.ejs %>
    <!--Common Header End-->
    <!-- Content -->
    <div class="banner service-banner smart-contracts-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h1>智能合约开发服务</h1>
                    <div class="h2-banner">超级账本，以太坊和EOS智能合约的审核和开发服务</div>
                    <div class="text">
                        <div>
                            <div></div>
                        </div>
                    </div>
                    <a href="#contact" class="link">获取免费报价</a>

                </div>
                <div class="col-lg-6 bg"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="industry-is-covered-content sc-content">
                <h2>企业智能合约</h2>
                <div class="h4 gor-100">
                    <p>智能合约是一种编码为计算机协议的虚拟协议。</p>
                    <p>任何一方，包括两个协议的持有人，都不能改变智能合约的内容。如果要想更改，必须由网络中所有的节点认可才能更改。</p>
                    <p>智能合约可以自动化执行，因此智能合约是实现跨各行业、领域的强大工具。OpenLedger的技术团队可以基于Hyperledger(超级账本)、Ethereum(以太坊)、和EOS的智能合约研发为各个行业所面临的不同的问题提供解决方案。
                    </p>
                </div>
                <div class="industry-is-covered-list sc-list">
                    <div class="row">
                        <% for(var business of SmartContractsForBusinesses) {%>
                        <div class="col-md-4">
                            <div class="point">
                                <div class="covered-point-img sc-point-img">
                                    <img src="<%= business.imgSrc %>" srcset="<%= business.imgSrcSet %>"
                                        alt="<%= business.title %>">
                                </div>
                                <h3><%= business.title %></h3>
                                <div class="text">
                                    <p>
                                        <p><%= business.description %>
                                            <a class="teal-link" href="<%= business.moreLink %>">了解更多</a>
                                        </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="slider-smart-contracts">
                    <% for(var business2 of SmartContractsForBusinesses) { %>
                    <div class="smart-contracts-slide">
                        <div class="point">
                            <div class="covered-point-img sc-point-img">
                                <img src="<%= business2.imgSrc %>" srcset="<%= business2.imgSrcSet %>"
                                    alt="<%= business2.title %>">
                            </div>
                            <h3><%= business2.title %></h3>
                            <div class="text">
                                <p>
                                    <p><%= business2.description %>
                                        <a class="teal-link" href="<%= business2.moreLink %>">了解更多</a>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
        <% include ../common/quote.ejs %>
                    <div class="why-sc-needs">
                        <div class="container">
                            <h2 class="mt-40">为什么您的企业需要智能合约开发服务？</h2>
                            <div class="gor-100">
                                <div class="h4">如果您需要执行和贯彻您的企业经营理念，智能合约可以为您的企业带来多重的便利。</div>
                            </div>
                            <div class="point-list point-list-accordion">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="point point-accordion">
                                            <h3>自治</h3>
                                            <div class="text">
                                                <p>没有第三方参与，去掉了中间商节约了成本并且提高了业务流程的效率。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="point point-accordion">
                                            <h3>信任</h3>
                                            <div class="text">
                                                <p>智能合约都是去中心化的，可以确保企业和客户之间的交易或是达成的某种协议是可以被验证的。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="point point-accordion">
                                            <h3>节省资金</h3>
                                            <div class="text">
                                                <p>基于智能合约的自动化操作可以减少人工的处理并且预防了人为的误操作，从而降低了风险和成本。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="point point-accordion">
                                            <h3>备份</h3>
                                            <div class="text">
                                                <p>去中心化的智能合约不会存在冗余、丢失的情况并且确保安全，防篡改。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="point point-accordion">
                                            <h3>准确性</h3>
                                            <div class="text">
                                                <p>自动保存数据和检索，消除人为操作错误。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="point point-accordion">
                                            <h3>速度</h3>
                                            <div class="text">
                                                <p>自动化执行使业务处理快速、高效。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-implementation">
                        <div class="container">
                            <h2 class="mt-40">OpenLedger开发的智能合约</h2>
                            <div class="gor-100">
                                <div class="h4">
                                    <p>通过在Hyperledger(超级账本)、Ethereum(以太坊)、EOS中的智能合约来自动化处理业务流程。</p>
                                    <p>通过基于区块链的解决方案和技术结合，我们的研发工程师可以快速编写安全且符合您的需求的智能合约代码。</p>
                                </div>
                            </div>
                            <div id="ethereum-smart-contracts"></div>
                            <div class="sc-implementation-items">
                                <div
                                    class="row tiles-lable tiles-lable-collapse tiles-lable-collapse-new tiles-lable-sc">
                                    <div class="col-md-12">
                                        <div class="tile tile-collapse">
                                            <h3>以太坊智能合约</h3>
                                            <div class="text">
                                                <div class="new-list-wrap">
                                                    <div class="new-list-col-4">
                                                        <p>通过Solidity语言编写的智能合约。</p>
                                                    </div>
                                                    <div class="new-list-col-8">
                                                        <div class="new-list">
                                                            <h4>以太坊的Solidity智能合约：</h4>
                                                            <div class="new-list-points">
                                                                <ul>
                                                                    <li>ERC-20通证合约</li>
                                                                </ul>
                                                                <ul>
                                                                    <li>ERC-721智能合约</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fade-out"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="tile tile-collapse">
                                            <h3>超级账本智能合约</h3>
                                            <div class="text">
                                                <div class="new-list-wrap">
                                                    <div class="new-list-col-4">
                                                        <p>基于Hyperledger上的区块链智能合约开发具有非常多的优势。不管是在金融、医疗、零售、汽车或者其他行业，OpenLedger的团队都具有非常专业的知识来支持您的需求实现并提供解决方案。
                                                        </p>
                                                    </div>
                                                    <div class="new-list-col-8">
                                                        <div class="new-list">
                                                            <h4>我们在Hyperledger上开发以下智能合约：</h4>
                                                            <div class="new-list-points">
                                                                <ul>
                                                                    <li>自动理赔</li>
                                                                    <li>发票</li>
                                                                    <li>支付</li>
                                                                    <li>资产可追溯</li>
                                                                </ul>
                                                                <ul>
                                                                    <li>保险单代币化</li>
                                                                    <li>健康钱包</li>
                                                                    <li>数字证书</li>
                                                                    <li>电子保修</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fade-out"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="tile tile-collapse">
                                            <h3>EOS智能合约</h3>
                                            <div class="text">
                                                <div class="new-list-wrap">
                                                    <div class="new-list-col-4">
                                                        <p>凭借在EOS智能合约开发方面的经验，我们的EOS专家可以协助您扩展DApp（去中心化应用程序）的开发和性能。</p>
                                                        <p>EOS智能合约提供了经过身份验证的个人帐户，一个用户数据库以及用于通信和应用程序计划的选项。</p>
                                                    </div>
                                                    <div class="new-list-col-8">
                                                        <div class="new-list">
                                                            <h4>借助EOS智能合约，您可以受益于：</h4>
                                                            <div class="new-list-points">
                                                                <ul>
                                                                    <li>可扩展性增强</li>
                                                                    <li>处理海量数据</li>
                                                                    <li>减少成本</li>
                                                                </ul>
                                                                <ul>
                                                                    <li>快速简便的DApp部署过程</li>
                                                                    <li>基于角色的权限控制</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fade-out"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% include ../common/quote.ejs %>
                    <div class="sc-audit">
                        <div class="container">
                            <div class="sc-audit-content">
                                <h2>OpenLedger的智能合约审核</h2>
                                <div class="h4 gor-100">
                                    部署智能合约时，安全漏洞，错误和效率低下会给您造成很大的损失。OpenLedger经验丰富的团队可帮助公司优化智能合约代码并从头开始实施智能合约安全审核。</div>
                                <div class="gor-100">
                                    <div class="row advisory-icons sc-icons">

                                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                                            <div class="ico"></div>
                                            <h3>业务逻辑审查</h3>
                                        </div>

                                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                                            <div class="ico"></div>
                                            <h3>最佳实践建议</h3>
                                        </div>

                                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                                            <div class="ico"></div>
                                            <h3>手动代码质量检查</h3>
                                        </div>

                                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                                            <div class="ico"></div>
                                            <h3>风险和漏洞检测</h3>
                                        </div>

                                        <div class="col-lg-6 col-md-12 col-sm-12 df">
                                            <div class="ico"></div>
                                            <h3>安全摘要</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-custom">
                        <div class="container">
                            <div class="sc-custom-content">
                                <h2>定制区块链智能合约开发</h2>
                                <div class="h4 gor-100">
                                    从我们的专业知识中受益并运行定制的智能合约，以帮助您发展和促进业务。石墨烯和EVM的独特组合是正确的智能合约解决方案，可让您保持领先地位。</div>
                                <div class="gor-100">
                                    <div class="row col-text">
                                        <div class="col-md-5">
                                            <p>智能合约基于区块链技术运行，承载了区块链的所有优势。去中心化，安全和自动化的区块链智能合约开发为公司提供安全性，经济性，带来自动化和标准化。
                                            </p>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>在一个以技术创新和持续改进为特征的领域，智能合约的速度与其底层区块链息息相关。</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>在OpenLedger，我们知道如何构建复杂而强大的解决方案。我们提供基于EVM
                                                        (Ethereum虚拟机)的石墨烯智能合约开发服务。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="graphene-evm">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 class="black-desc">为什么选择石墨烯和EVM？</h3>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row bold-list">
                                            <ul>
                                                <li>更复杂的协议</li>
                                                <li>事务多重签名</li>
                                                <li>交易费用低</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row bold-list">
                                            <ul>
                                                <li>提高速度和效率</li>
                                                <li>私有，公共和混合区块链的机会</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content End -->
                <!-- Common Footer -->
                <% include ../common/footer.ejs %>
                <!-- Common Footer End -->
</body>

</html>